#line {
height: 130px;
width: 17px;
margin-left:12px;
}

#line2 {
height: 145px;
width: 7px;

margin-left:12px;
margin-top:-20px;

}

.circle {
width:35px;
height:35px;
border-radius:50%;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#000;
margin-left:3px;
margin-top:40px;

}

#wrapper {
position:absolute;
left:9px;
float:left;
margin-top:-49px;
}

.text {
margin-top:20px;
margin-left:80px;

}

.small {font-size:10px;}
